@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --light-green: #E0F2F1;
  --dark-green: #15372c;
}

* {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  padding: 0px;
}

body {
  background: #A1FFCE;
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
  background: linear-gradient(to right, #FAFFD1, #A1FFCE);
  color: var(--dark-green);
}

h1 {
  font-size: 70px;
}

button {
  border: none;
}

.intro {
  display: flex;
  padding: 5vh 10vw;
  justify-content: space-between;
  height: 90vh;
}

.intro img {
  width: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard {
  background: #093028;
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  background: linear-gradient(to right, #237A57, #093028);
  height: 90vh;
  padding: 5vh 10vw;
  color: white;
}

.dashboard h2 {
  font-size: 40px;
}

.graph__container {
  margin-top: 30px;
  background-color: #275345;
  display: flex;
  width: 70%;
}

.lightdash {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

}

.lightdash .graph__container {
  background-color: #3b3579;
}

.lightdash button {
  background-color: #3b3579;
}

.lightdash button:hover {
  background-color: white;
  color: #3b3579;
}